<div id="main" class="h-100">

    <header class="header" [class.over]="showInfoContent" style="position: inherit;">
        <!-- <app-top-info-content [showInfoContent]="showInfoContent" (onCloseInfoContent)="closeInfoContent(showInfoContent)"></app-top-info-content> -->
        
        <mat-toolbar class="top-toolbar" [class.mat-elevation-z2]="settings.fixedHeader" style="background: #11172A; color: black;">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                <div fxLayout="row" fxLayoutAlign="start center" class="w-100">
                    <app-favorites fxShow="false" fxShow.gt-sm></app-favorites>                                      
                </div>          
                <div fxLayout="row" fxLayoutAlign="end center">                    
                    <app-user-menu style="color:white;"></app-user-menu>
                </div>
            </div>               
        </mat-toolbar>
    </header>

    <mat-drawer-container class="page-wrapper">

        <mat-drawer #sidenav *ngIf="settings.menu == 'vertical'" [opened]="settings.sidenavIsOpened" [mode]="(settings.sidenavIsPinned) ? 'side' : 'over'" (openedStart)="showSidenav = !showSidenav" (closedStart)="showSidenav = !showSidenav" class="sidenav mat-elevation-z6" autoFocus="false">
            <mat-toolbar *ngIf="settings.fixedSidenav" class="top-toolbar">
                <a routerLink="/" fxLayout="row" fxLayoutAlign="start center" class="logo">
                    <img src="assets/img/logo.png" alt="logo" [@rotate]="showSidenav">
                </a>
            </mat-toolbar>
            <app-sidenav></app-sidenav>
        </mat-drawer>

        <mat-drawer-content style="background:white;">

            <mat-toolbar *ngIf="settings.menu == 'horizontal'" class="horizontal-menu px-0" >
                <div fxLayout="row" fxLayoutAlign="center center" class="w-100">            
                    <app-horizontal-menu [menuParentId]="0" [class.w-100]="(settings.menuType!='mini')"></app-horizontal-menu>
                </div>            
            </mat-toolbar>
            <router-outlet></router-outlet> 

        </mat-drawer-content>    

    </mat-drawer-container>

</div>