<div id="features" class="mt-2 pt-3">
    <div fxLayout="row wrap" fxLayoutAlign="center center">        
        <div fxFlex="100">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
                <div class="p-2">
                    <div class="serviceSection">
                        <div class="serviceHeading">
                            <h4>Our</h4>
                            <h1>Service</h1>
                        </div>
                        <div class="arbitrage-section">
                            <img src="assets/img/arbitage-servicepng.png"/>
                            <div class="serviceContent">
                                <h3 class="arb_heading">
                                    Arbitrage Service
                                </h3>
                                <div class="arb_headingBorder"></div>
                                <p>Earn up to 4.6% a transaction
                                    with our service in partnership
                                    with Ovex
                                </p>
                                <a mat-raised-button routerLink='/login'>Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>