<div id="pricing" class="mt-2 pt-3">
    <div fxLayout="column" class="title-section p-2 mb-2">
        <div class="serviceTimeline">
            <div class="container">
                <div class="row">
                    <div class="timelneImg col-md-6">
                        <img src="assets/img/timeline-01.png" alt="logo" style="width:100%;">
                    </div>
                    <div class="timelineConetnt col-md-6">
                        <h1>Phased services launch</h1>
                        <div class="arb_headingBorder"></div>
                        <p>Parallel Traders is in the process of releasing new services over the next coming months.</p>
                        <h2>Here’s what to look out for!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 