<div class="head">
    <div style="margin-left: auto;margin-right: auto;width: 100%;text-align: center;">
        <img style="margin-top: 5vh;" src="assets/icons/idea.svg"/>
        <br>
        <h2 style="margin-top: 2vh; color:white">Trading Idea Room</h2>
    </div>
</div>
<div style="margin-top: 5vh;margin-left: auto;margin-right: auto;width:100%;text-align: center;">
    <h2>What is Trading Idea Room?</h2>
    <div class="col-md-4 offset-md-4">
        <p>
            Parallel Traders offer Trading Idea Rooms facilites to our subscribers.
            Subscribed traders have to ability to either join a hosted trading idea room or 
            create their own room for other traders
        </p>
    </div>
</div>

<div class="col-md-4 offset-md-4" style="margin-top: 5vh;text-align: center;">
    <h2>What is Trading Idea Room?</h2>
    <div>
        <p>
            Parallel Traders offer Trading Idea Rooms facilites to our subscribers.
            Subscribed traders have to ability to either join a hosted trading idea room or 
            create their own room for other traders
        </p>
    </div>
</div>
<div class="col-md-6 offset-md-3" style="margin-top: 2vh;">
    <button style="width:12vw" class="mybtn" [routerLink]='(["/loggedin/create-room"])'>Create Room</button>
    <button class="mybtn" style="margin-left: 5vw;width:12vw" [routerLink]='(["/loggedin/join-room"])'>Join Room</button>
    <button class="mybtn" style="margin-left: 5vw;width:12vw" [routerLink]='(["/loggedin/my-rooms"])'>My Room</button>
</div>
<!-- join-room -->